<!-- NAVBAR -->
<nav class="navbar">
  <div class="navbar-container">
    <!-- LOGO PRINCIPAL -->
    <div class="header-logo">
      <img src="assets/renata-preview.png" alt="Logo Renata Sobral" />
    </div>

    <!-- Nome + CRP -->
    <a class="navbar-brand" href="#inicio">
      <div class="brand-info">
        <span class="brand-name">RENATA SOBRAL</span>
        <span class="brand-subtitle">PSICÓLOGA CRP • 06/76943</span>
      </div>
    </a>

    <!-- MENU DE NAVEGAÇÃO -->
    <ul class="navbar-menu">
      <li><a href="#" id="scrollTopLink">Início</a></li>
      <li><a href="#atuacao">Atuação</a></li>
      <li><a href="#sobre">Sobre mim</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>

    <!-- ÍCONES E BOTÃO -->
    <div class="navbar-actions">
      <a href="https://www.instagram.com/renatasobral.psicologa/?hl=pt-br" target="_blank" class="social-icon">
        <img src="assets/icons/insta.svg" alt="Instagram" />
      </a>
      <a href="https://wa.me/19998772525" target="_blank" class="social-icon">
        <img src="assets/icons/whats.svg" alt="WhatsApp" />
      </a>
      
      <a
        href="https://www.doctoralia.com.br/renata-cristina-sobral-stephan/psicologo-psicanalista" target="_blank" class="btn-agendar" >
        Agende sua sessão
      </a>

    </div>
  </div>
</nav>
