<section class="contato-section full-width" id="contato">
  <div class="contato-container layout-dois-blocos">
    <!-- LADO ESQUERDO -->
    <div class="contato-bloco-texto">
      <div class="contato-header">
        <img
          src="assets/renata-preview.png"
          alt="Logo Renata Sobral"
          class="contato-logo"
        />
        <h2 class="contato-title">Fale Comigo</h2>
        <p class="contato-subtitle">
          Entre em contato para tirar as suas dúvidas ou realizar o seu
          agendamento através dos meus canais de contato.
        </p>
      </div>

      <div class="contato-infos">
        <div class="info-item">
          <img src="assets/icons/whats.svg" alt="Whatsapp" />
          <div>
            <strong>(19) 99877-2525</strong><br />
            <span>Pelo Whatsapp</span>
          </div>
        </div>

        <div class="info-item">
          <img src="assets/icons/insta.svg" alt="Instagram" />
          <div>
            <strong>Enviar uma DM</strong><br />
            <span>Pelo Instagram</span>
          </div>
        </div>

        <div class="info-item">
          <img src="assets/icons/location.svg" alt="Localização" />
          <div>
            <strong>Localização</strong><br />
            <span>
              Rua Dr Antonio Augusto de Almeida, 54, Cidade Universitária,
              Campinas
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- LADO DIREITO -->
    <div class="contato-bloco-cards">
      <div class="atuacao-card">
        <div class="card-icon">
          <img src="assets/icons/brain.svg" alt="Ícone cérebro" />
        </div>
        <h3>Atendimento Particular</h3>

        <div class="atuacao-item">
          <h4>Individual adulto a partir dos 18 anos</h4>
        </div>

        <div class="atuacao-item">
          <h4>De forma semanal</h4>
        </div>

        <div class="atuacao-item">
          <h4>50 minutos por sessão</h4>
        </div>

        <div class="atuacao-item">
          <h4>Modalidade Online e Presencial</h4>
          <p>
            A sessão ocorre de forma on-line ou presencial, de acordo com a
            preferência do paciente.
          </p>
        </div>
      </div>

      <div class="atuacao-card">
        <div class="card-icon">
          <img src="assets/icons/chat.svg" alt="Ícone fala" />
        </div>
        <h3>Agende seu Horário</h3>
        <div class="atuacao-item">
          <h4>Seg-Sex 08h às 20h</h4>
        </div>
        <div class="atuacao-item">
          <h4>Sab-Dom Agenda Fechada</h4>
        </div>
      </div>
    </div>
  </div>
</section>
