<!-- HERO: ocupa toda a largura da tela -->
<section class="hero-section full-width">
  <div class="hero-content">
    <div class="hero-text">
      <h1>
        Seja bem-vindo(a) a seu <br />
        espaço de cuidado e <br />
        escuta especializada.
      </h1>

      <hr />

      <p>
        Através da <strong>terapia online</strong> te ajudo a entender seus
        conflitos internos e superar os obstáculos emocionais.
      </p>
      <p>
        Entre em contato hoje para agendar sua sessão e inicie sua trajetória
        para uma vida mais significativa e valorosa. Vamos lá?
      </p>

      <p class="crp">CRP 03/30205</p>

      <div class="hero-buttons">
        <a href="#agendamento" class="btn-agendar">Agendar sua sessão</a>
        <a href="#sobre" class="btn-secundario">Saber mais</a>
      </div>
    </div>

    <div class="hero-image">
      <img src="assets/perfil-renata.png" alt="Perfil Renata Sobral" />
    </div>
  </div>
</section>
